.search-input{
    // position: absolute;
   
    width:80%;
    height:53px;
    color: grey;
    font-size:19px;
    margin-left:90px;
    
}
.popular{
    margin-left:90px;
}

.search-bar{
    position: relative;
    color: rgb(203, 198, 198);
    //  left:1025px;
    //  right:-820px ;
    right:70px;
    top:10px;
    margin-top:30px;
   
   }
   .header2{
    margin-top:25px;
   
    //  position: absolute;
    // bottom:0;
     //background-color:grey;
    //  opacity:0.95;
    height:87%;
    width:100%;
    position: relative;
    animation: mymove 1s;
    
 }
   
 @keyframes mymove {
    from {bottom: -180px;}
    to {bottom:0px;}
  } 


  .header5{
    position: absolute;
    // overflow: hidden;

   
  }

   .search{
    width:90%;
    height:40px;
    position:absolute;
    margin-left:25px;
    box-shadow:0 0 10px grey;
    border: none;
    margin-top:30px;
   
    
}
.searchbar{
    position: relative;
    margin-top:40px;
    margin-left:40px;
}

.grid{
     display:grid;
    grid-template-rows:repeat(3,110px);
    grid-template-columns:repeat(5,140px);
    gap:0px;
    margin-top:20px;
    z-index:1007;
   
    
}   
.name{
    margin-top:-8px;
    font-size:14px;
}
.grid-location{
    text-align: center;
}
.grid-location>img{
    height:65px;
    width:65px;
}
.search-shadow{
    display: flex;
    flex-direction:row;
    margin-left:25px;
}
.search-shadow>h3{
    margin-left:30px;
    margin-top:40px;
}
.search-shadow>img{
    margin-top:20px;
}
.total-grid{
    border:1px solid white;
    height:500px;
    width:700px;
    background-color:white;
    box-shadow:0 0 10px rgb(191, 189, 189);
    position: relative;
    // z-index:99;
    margin-left:290px;
    margin-top:0px;
    
    
    
}

.backgroundthing{
    background-color: rgba(0, 0, 0, 0.2);
    //  opacity:0.5;
    height: 100%;
    display: block;
    width: 100%;
    position: fixed;
    top:0px;
   
}
// .scrollhide{
//     filter: blur(1px);

// }